<div id="container">
  <canvas id="game" width="320" height="480"></canvas>
</div>
<script src="static/js/alieninvasion/engine.js"></script>
<script src="static/js/alieninvasion/game.js"></script>
<script src="static/js/alieninvasion/alieninvasion.js"></script>