<header class="hero-header" id="particles-js">
  <div class="hero-header-container column">
    <img src="static/img/openstack.png" class="openstack-logo" width="300" />
    <div class="row center-align">
      <a class="waves-effect waves-light btn" id="create-vm">Create VM</a>
      <a class="waves-effect waves-light btn" id="destroy-vm">Destroy VM</a>
    </div>
    <div class="node-label">Active VMs</div>
    <div id="node-numbers"></div>
  </div>
</header>
<script type="text/javascript" src="vendor/particles.js"></script>
<script type="text/javascript" src="static/js/home/home.js"></script>