<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Openstack Demo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="vendor/reset.css">
    <link type="text/css" rel="stylesheet" href="vendor/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="static/css/layout.css">
</head>

<body>
    <script type="text/javascript" src="vendor/jquery.min.js"></script>
    <script type="text/javascript" src="vendor/js/materialize.min.js"></script>
    <script type="text/javascript" src="vendor/socket.io.js"></script>
    <script type="text/javascript" src="static/js/common/openstack-client.js"></script>
    {{{body}}}
</body>

</html>